.info {
    border: 1px solid black;
    background-color: rgba(250, 235, 215, 0.672);
    border-radius: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 6px;
    font-size: 24px;
    min-width: 40%;
}

.info__turn {
    color: blue;
    text-align: center;
    margin: 6px;
}

.info__color {
    color: black;
    text-align: center;
    margin: 6px;
}
